<a href="https://colab.research.google.com/github/yooneunjae/Python_study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

함수

def 함수명():

In [1]:
def a1():
    print('a')
    print('b')

In [2]:
a1()

a
b

빈 함수를 만들 경우

pass를 이용하여 빈 함수 만들기

In [3]:
def a2():
    pass

In [4]:
a2()

매개변수를 추가하여 다양하게 사용 가능

In [5]:
def a3(a,b):
    print(a-b)

In [6]:
a3(5,3)

2

In [7]:
a3(10,20)

-10

In [8]:
print(a3(5,3))

2
None

-return값을 지정하지 않으면 None이라는 값이 나옴

-함수를 만들 때 반드시 return을 지정해줘야 함

In [11]:
def a4(a,b):
    return a-b

In [12]:
a4(5,3)

2

In [13]:
print(a4(5,3))

2

In [14]:
def a6(a,b):
    c = a+b
    d = c/2
    return d

In [15]:
a6(50,80)

65.0

매개변수를 특정 값으로 고정 가능

In [16]:
def a7(a,b,c=2):
    ab_sum = a+b
    d = ab_sum/c
    return d

In [17]:
a7(50,80)

65.0

리스트 내부의 문자열을 찾아주는 함수 만들기

In [18]:
c = [1,2,3,4,5,'e']

In [19]:
for i in c:
    if type(i)==str:
        print(i)

e

In [20]:
for i in c:
    if type(i)!=int:
        print(i)

e

In [21]:
c = [1,2,3,4,5,'e','f']

In [23]:
def a8(c):
    for i in c:
        if type(i)==str:
            ans = i
    return ans

In [24]:
a8(c)

'f'

2개 이상의 문자열을 찾기 위해 append 리스트안에 넣는 작업

In [26]:
sum_str = []
for i in c:
    if type(i)==str:
        sum_str.append(i)
    print(sum_str)

[]
[]
[]
[]
[]
['e']
['e', 'f']

In [27]:
sum_str

['e', 'f']

lambda

-def 함수를 람다 표현식으로 바꿀 수 있음

-함수를 간단하게 표현 가능

In [28]:
def a9(x):
    return x * 100

In [29]:
a9(2)

200

In [30]:
# lambda문의 return 값 표현
lambda x: x * 100

In [31]:
lm = lambda x: x*100

In [32]:
lm(2)

200

In [33]:
# 람다 값을 소괄호로 감싸고 인자값을 넣으면 동일한 값이 나온다.
(lambda x: x * 100)(2)

200

In [34]:
[(lambda x: x * 100)(2)]

[200]

In [35]:
y = 5
(lambda x: x+y * 100)(2)

502

map 함수

-map(매개변수(함수),매개변수(반복 가능한 자료형))

-map(적용시킬 함수, 적용할 값들)

In [36]:
a = [1.1,2.2,3.3,4.4]
print(a)

[1.1, 2.2, 3.3, 4.4]

In [37]:
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[1, 2, 3, 4]

In [38]:
a = [1.1,2.2,3.3,4.4]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [39]:
# 리스트와 map을 이용하여 여러 값을 만들 수 있음
list(map(lambda x: x +100,[10,20,30]))

[110, 120, 130]

짝수의 값을 float형태로 바꾸기 (람다 형태로)

In [42]:
a = [1,2,3,4,5,6]

In [40]:
list(map(lambda x: float(x) if x % 2 ==0 else x,a))

[1, 2.0, 3, 4.0]

In [43]:
def float_x(x):
    if x % 2 ==0:
        return float(x)
    else:
        return x
result = list(map(float_x,a))
print(result)

[1, 2.0, 3, 4.0, 5, 6.0]

-lambda 2개의 조건문 사용

-lambda의 매개변수들 : 식1 if 조건식1 else 식2 if 조건식2 else 식3 등으로 확장

-값이 3인 경우 문자열로 변환, 짝수의 값을 float형태로 변경, 나머지 값은 *100 형태로 출력하라 (람다 형태로)

In [44]:
list(map(lambda x: str(x) if x == 3 else float(x) if x % 2 ==0 else x*100,a))

[100, 2.0, '3', 4.0, 500, 6.0]

In [45]:
def abc(x):
    if x == 3:
        return str(x)
    elif x % 2 ==0:
        return float(x)
    else:
        return x * 100
list(map(abc,a))

[100, 2.0, '3', 4.0, 500, 6.0]

In [46]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = [0,0,0,0,0]

In [47]:
# 매개변수가 2개 이상이면, 식의 변수도 2개 이상
list(map(lambda x,y,z :(x+y)*z, a,b,c))

[0, 0, 0, 0, 0]

데이터 프레임

-2차원 리스트로 생각하면 편함

-행렬의 개념

-행은 인덱스(index), 열은 컬럼(column)이라고 지칭

데이터 프레임을 불러오기 위해 많이 사용하는 라이브러리

-pandas(가장 많이 사용) : 데이터프레임, 시리즈 구조 데이터를 가공, 전처리 하는 패키지

-numpy(많이 사용) : 공학적인 수학 관련 패키지

In [48]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [49]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)