<a href="https://colab.research.google.com/github/yooneunjae/Python_study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%8A%A4%ED%84%B0%EB%94%94_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 변수란 무엇인가?
- 변수란? -> 내가 원하는 데이터를 담아 두는 것 (주머니의 개념)
    - 변수는 이름이 있다.
    - 변수는 여러가지를 만들 수 있다.
    - 변수를 만들 수 있는 규칙이 있다.
- 변수 이름 규칙
    - 영문과 숫자 사용가능
    - 대소문자 구분
    - 문자부터 시작, 숫자부터는 불가능
    - _ 밑줄 문자 사용 가능
    - 특수문자 사용할 수 없음
    - Python 문법 약속어 키워드는 사용 불가능 (if, for 같은 문법 약속어 등)

# 변수 정의
abc123 = 100
# abc123 이라는 곳에 100이라는 숫자 넣기
# abc123 변수에 100이라는 값을 넣는다.

# 파이썬 문법 = 는 변수를 대입한다는 뜻
# 같다는 == 두 개를 사용

In [9]:
abc123=100
print(abc123)

100

In [7]:
print('abc123')

abc123

In [10]:
print('abc123') # 문자열을 출력
print(abc123) # 변수 abc123을 출력

abc123
100

In [11]:
new_data = 1000+3000

In [12]:
print(new_data)

4000

In [13]:
1 == 1

True

In [14]:
# 변수를 여러개 사용해도 대응해서 들어갈 수 있음
a,b,c = 10,20,30

In [15]:
print(a)
print(b)
print(c)

10
20
30

In [16]:
# 변수와 값의 개수가 동일해야 함
a,b = 10,20,30

ValueError: too many values to unpack (expected 2)

In [17]:
d = c = b = a = 1000

In [18]:
print(a)
print(b)
print(c)
print(d)

1000
1000
1000
1000

In [19]:
# 변수안에 변수 넣기 가능
bc = 100

In [20]:
ab = bc

In [21]:
print(ab)
print(bc)

100
100

In [22]:
# 변수끼리 값을 더할 수 있음
print(bc + ab)

200

input() 함수는 사용자에게 값을 받아서 출력할 수 있는 함수
모든 값을 문자열로 받음

In [32]:
x = input()

5

In [33]:
y = input()

10

In [34]:
print(x+y)
# input값은 문자열로 받음

510

input() 함수의 기능
-input().split() 나눠주는 개념, 값을 나눠서 저장

In [31]:
x,y = input().split()
# 입력할 때 띄어쓰기를 이용하여 x와 y를 설정

1 20

In [36]:
x,y = input("두 개의 값을 입력하시오! (띄어쓰기로구분)").split()

두 개의 값을 입력하시오! (띄어쓰기로구분)1 20

In [37]:
print(x)
print(y)

1
20

출력문 이해
-print()문 안에서도 다양한 기능이 있음
>sep-> 구분자라는 뜻
>값과 값 사이에 공백이나 문자를 넣고 싶을 때 사용할 수 있는 함수
>print(값, 값2, sep = '문자 또는 문자열 구분자')

In [38]:
# ,로 구분해서 값을 나누기
print(1,2,3,sep=',')

1,2,3

In [39]:
# 공백도 하나의 문자로 생각하고 표현
print(1,2,3,sep=', ')

1, 2, 3

In [40]:
# 공백없이 출력
print(1,2,3,sep='')

123

In [41]:
# 1
# 2
# 3 과 같이 출력
print(1,2,3,sep='\n') # 줄바꿈 문자 사용

1
2
3

In [42]:
print('1\n2\n3')

1
2
3

위의 출력문 모두 값이 아닌 변수가 들어가도 동일하게 출력이 나옴

불리언 값
-참 또는 거짓(True, False)
-기존의 int, str 외의 boolean 값이 따로 존재

In [43]:
print(3>1)
print(1>3)
print(1==1)
print(1!=1)

True
False
True
False